<div class="w-full h-full bg-[#EDF2FB] pl-[10%] pr-[10%] pt-[2%] pb-[2%]">


    <div class="w-full bg-[#EDF2FB] h-full flex">

        <div class="row  w-full ">
            <div class="col w-full h-[600px] bg-white  rounded-2xl">
                <div class="row flex w-full h-full">
                    <div class="col w-[30%] h-full  p-10 flex items-center justify-center ">
                        <img class="w-full h-full object-contain rounded-lg border border-black "
                            src="{{product?.photo}}" alt="">
                    </div>
                    <div class="col w-[70%] flex">
                        <div class="row w-full h-full">
                            <div class="col h-[50%] w-full">
                                <div class="row h-full w-full p-10">
                                    <div class="col h-full">
                                        <div
                                            class="row h-[50%] w-[70%] font-bold font-jetbrains text-2xl flex items-center">
                                            {{product?.name}}
                                        </div>
                                        <div class="row h-[50%] text-2xl">
                                            Marca: <span class="font-bold pr-52">{{product?.brand}}</span>
                                            <app-stock-status [stockStatus]="stockStatus" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col h-[50%] w-full flex items-end ">
                                <div class="w-full p-10 ">
                                    <div class="flex gap-10 items-end ">
                                        <p class="font-bold text-5xl font-jetbrains mb-10">₡  {{product?.price}}
                                        </p>

                                        <p *ngIf=" product?.id_offer !== null"
                                            class=" line-through font-bold text-2xl font-jetbrains mb-10 text-red-500">₡
                                           {{ product?.id_offer ==
                                                null ? product?.price : (product && offer) ? (product.price + (product.price
                                                * offer.discount)) : 0 }}</p>


                                    </div>


                                    <div class="flex space-x-1 h-full">
                                        <div class="w-full flex space-x-1">
                                            <div class="w-[15%] h-full">
                                                <app-add-cart *ngIf="product" [product]="product" />
                                            </div>
                                            <div class="w-[15%] h-full">
                                                <app-add-whislist *ngIf="product" [product]="product" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-full h-[400px] text-white mt-5">
                <div class="row h-full flex space-x-5">
                    <div class="col w-[50%] bg-white rounded-2xl ">
                        <p
                            class="font-bold text-lg w-full h-[20%] flex items-center justify-center font-jetbrains text-black">
                            Descripción del producto</p>
                        <p class="h-[80%] p-10 overflow-y-auto text-black"> {{product?.description}}
                        </p>
                    </div>
                    <div class="col w-[50%] bg-white rounded-2xl ">
                        <p
                            class="font-bold text-lg w-full h-[20%] flex items-center justify-center font-jetbrains text-black">
                            Especificaciones técnicas</p>
                        <p class="h-[80%] p-10 overflow-y-auto text-black"> {{product?.technical_stuff}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col w-full mt-5 h-[700px] flex">
                <div class="row h-full w-full flex">
                    <div class="col w-full h-full bg-white ">
                        <p
                            class="font-bold text-lg w-full h-[20%] flex items-center justify-center font-jetbrains text-black">
                            Review de compradores</p>

                        <!-- Alerta de éxito -->
                        <div class="w-full flex justify-center items-center mb-5">
                            <div class="w-[60%]">
                                <app-alerts *ngIf="showAlert" class="alert alert-success"></app-alerts>
                            </div>

                        </div>

                        <form [formGroup]="reviewForm">
                            <div class="h-[80%] flex items-start justify-center">
                                <div class="w-full">
                                    <!-- Componente de calificación con validación -->
                                    <div class="w-full flex items-center justify-center">
                                        <app-star-rating (ratingChange)="onRatingChange($event)"
                                            formControlName="score"></app-star-rating>
                                    </div>

                                    <div *ngIf="reviewForm.controls['score'].invalid && reviewForm.controls['score'].touched"
                                        class="w-full text-red-500 mt-2 mb-10 flex justify-center">
                                        <div class="text-center">
                                            <small *ngIf="reviewForm.controls['score'].hasError('required')">
                                                La calificación es obligatoria.
                                            </small>
                                            <small *ngIf="reviewForm.controls['score'].hasError('min')">
                                                La calificación debe ser al menos 1.
                                            </small>
                                            <small *ngIf="reviewForm.controls['score'].hasError('max')">
                                                La calificación no puede ser mayor que 5.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col w-full flex flex-row justify-center items-center mt-10 mb-5">
                                        <div class="row h-[80%] w-full flex justify-center items-center">
                                            <textarea formControlName="description"
                                                class="row w-[70%] h-[150px] border border-black text-black p-2"
                                                placeholder="Añade una valoración"></textarea>
                                        </div>
                                    </div>

                                    <!-- Mensaje de error para el textarea -->
                                    <div *ngIf="reviewForm.controls['description'].invalid && reviewForm.controls['description'].touched"
                                        class="w-full text-red-500 mt-2 mb-10 flex justify-center">
                                        <div class="text-center">
                                            <small *ngIf="reviewForm.controls['description'].errors?.['required']">
                                                La valoración es necesaria.
                                            </small>
                                            <small *ngIf="reviewForm.controls['description'].errors?.['pattern']">
                                                Se permiten solo caracteres alfabéticos.
                                            </small>
                                            <small *ngIf="reviewForm.controls['description'].errors?.['maxLength']">
                                                Se permiten máximo 200 caracteres.
                                            </small>
                                        </div>
                                    </div>

                                    <!-- Botón de enviar -->
                                    <div class="flex w-full h-12 items-center justify-center">
                                        <button (click)="sendReview()"
                                            class="font-bold text-lg bg-[#1E2B3D] text-white font-jetbrains rounded-xl w-[50%] h-full">
                                            Enviar
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>



                    </div>
                    <div class="col w-full h-full bg-white">
                        <p
                            class="font-bold text-lg w-full h-[20%] flex items-center justify-center font-jetbrains text-black">
                            Valoraciones </p>
                        <div class="w-[95%] h-[75%] p-5 overflow-y-auto">

                            <!--aqui va el for -->
                            <div *ngFor="let review of reviews"
                                class="w-full h-[300px] flex mb-2 bg-[#edf2fb] rounded-2xl pt-2 pb-2 pr-6 pl-6">
                                <div class="w-full">
                                    <div class="w-full h-[35%] flex">
                                        <div class="h-full w-[20%] flex items-center justify-center rounded-full">
                                            <div class="w-[75px] h-[75px] rounded-full bg-white">
                                                <div class="w-full h-full flex items-center justify-center">
                                                    <ng-container
                                                        *ngIf="!userData[review.id_user]?.photo; else showImage">
                                                        <i
                                                            class="fas fa-image w-full h-full flex items-center justify-center"></i>
                                                    </ng-container>
                                                    <ng-template #showImage>
                                                        <img [src]="userData[review.id_user]?.photo" alt="User Photo"
                                                            class="w-full h-full object-cover" />
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <p
                                            class="font-bold text-xl w-[70%] h-full pl-4 flex items-center font-jetbrains text-black">
                                            {{ userData[review.id_user]?.name + ' ' + userData[review.id_user]?.last_name }}
                                        </p>
                                    </div>

                                    <div class="flex h-[15%]">
                                        <ng-container *ngFor="let star of stars; index as i">
                                            <i (click)="rate(i + 1)"
                                                [ngClass]="i < review.score ? 'fas fa-star text-yellow-500' : 'far fa-star text-gray-400'"
                                                class="w-10 cursor-pointer transition duration-200 ease-in-out text-2xl"></i>
                                        </ng-container>
                                    </div>
                                    <div class="h-[45%] pb-3 overflow-y-auto">
                                        {{ review.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>