<div class="navbar bg-base-100" style="border-bottom: 2px solid #ddd;border-radius: 10px;">
    <div class="navbar-start">
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-xl"> {{ role === 'admin' ? 'ExtremeTEC Administración' : 
      role === 'logistics' ? 'ExtremeTEC Operadores' : 'ExtremeTEC' }}

      </a>
    </div>
    <div class="navbar-end">
     
      
      <button class="btn btn-ghost btn-circle" (click)="openModal()" >
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    </div>
  </div>

  <dialog id="my_modal_7" class="modal modal-wide">
    <div class="modal-box w-11/12 max-w-4xl">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="text-lg font-bold mb-4">Notificaciones</h3>
      <div class="overflow-x-auto">
        <table class="table table-zebra w-full">
          <thead>
            <tr class="text-base" style="font-size: 16px;">
              <th class="w-1/4">Producto</th>
              <th class="w-1/2">Descripción</th>
              <th class="w-1/6">Fecha</th>
              <th class="w-1/12">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notification of notifications" class="hover" style="font-size: 16px;">
              <td>{{notification.id_product}}</td>
              <td>{{notification.description}}</td>
              <td>{{notification.date | date:'dd/MM/yyyy'}}</td>
              <td>
                <button 
                style="font-size: 16px;"
                  (click)="deleteNotification(notification.id)" 
                  class="btn btn-ghost btn-xs text-red-500">
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </dialog>
  

  
<div id="noentry-overlay" *ngIf="showNoEntryAlert" style="
position: fixed; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background-color: rgba(0, 0, 0, 0.5); 
display: flex; 
align-items: center; 
justify-content: center; 
z-index: 9999;">
<div id="noentry" role="alert" style="
  background-color: rgb(249, 189, 10); 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  text-align: center;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    style="width: 30px; height: 40px; margin-bottom: 10px;"
    fill="none"
    viewBox="0 0 24 24">
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
  </svg>
  <span style="font-size: 16px; font-weight: bold; color: #333;">
    No tienes permisos para ver esta información!
  </span>
</div>
</div>