<div class="w-full h-full bg-[#1E2B3D] pl-[10%] pr-[10%] pt-[2%] pb-[2%] text-white ">

    <div class="h-full w-full space-y-10">

        <div class="row w-full h-[5%] flex items-center justify-center p-20 bg-[#4c5664] rounded-2xl space-x-10">
            <p class="font-bold text-2xl font-jetbrains text-[#767575]">CARRITO</p>
            <i class="fas fa-arrow-right text-[#767575] text-4xlxl"></i>
            <p class="font-bold text-2xl font-jetbrains text-[#767575]">FINZALIZAR COMPRA</p>
            <i class="fas fa-arrow-right text-4xl text-[#767575]"></i>
            <p class="font-bold text-2xl font-jetbrains text-white">PEDIDO COMPLETADO</p>
        </div>
        <div class="bg-[#edf2fb] w-full h-[1000px] p-10 rounded-2xl">

            <div class="w-full h-full flex space-x-5">
                <div class="col w-[70%] h-full space-y-4 overflow-y-auto ">



                    <div class="row w-full h-[10%] flex items-center justify-center bg-[#4c5664] rounded-2xl">

                        <div class="col w-full] flex items-center justify-center font-jetbrains text-2xl font-bold">
                            Factura No. {{orderInfo?.id}}
                        </div>

                    </div>

                    <!-- Aqui va el for -->

                    <div *ngFor="let orderProduct of orderProducts" class=" flex row w-full h-[125px] bg-[#f8fafd]  text-black rounded-2xl">
                        <div class="col h-full w-[50%] flex">
                            <div class="w-[30%] h-full flex items-center justify-center">
                                <img [src]="orderProduct.Product.photo" alt="" class="w-[80%] h-[80%] rounded-2xl">
                            </div>
                            <div class="col h-full w-[70%] flex items-center justify-center font-jetbrains">
                                <p>{{orderProduct.Product.name}}</p>
                            </div>
                        </div>

                        <div
                            class="flex flex-col items-center justify-center space-y-4 p-4 bg-[#f8fafd] rounded-2xl w-[20%]">
                            <!-- Número central -->
                            <div
                                class="flex items-center justify-center text-2xl font-bold bg-[#edf2fb] w-[50%] h-70%] rounded-2xl">
                                {{orderProduct.quantity}}
                            </div>

                        </div>
                        <div
                            class="col h-full w-[30%] flex items-center justify-center font-bold font-jetbrains text-xl">
                            ₡  {{orderProduct.Product.price}}
                        </div>
                    </div>
                </div>
                <div class="col w-[30%] h-full bg-[#f8fafd] rounded-2xl p-4">
                    <div class="row w-full h-[10%] flex items-center justify-center ">
                        <p class="font-bold text-2xl font-jetbrains text-black">TOTAL DE COMPRA</p>
                    </div>

                    <div class="row w-full h-[45%] flex  space-y-10">
                        <div class="w-full h-full flex flex-col justify-end space-y-10 text-black">


                            <div class="flex w-full h-[16.66%]">
                                <div class="w-[50%] flex justify-start items-center font-jetbrains">
                                    Email
                                </div>
                                <div class="w-[50%] flex justify-end items-center font-bold font-jetbrains">
                                    {{orderUser?.email }}
                                </div>
                            </div>


                            <div class="flex w-full h-[16.66%]">
                                <div class="w-[50%] flex justify-start items-center font-jetbrains">
                                    Nombre
                                </div>
                                <div class="w-[50%] flex justify-end items-center font-bold font-jetbrains">
                                    {{orderUser?.name }}
                                </div>
                            </div>


                            <div class="flex w-full h-[16.66%]">
                                <div class="w-[50%] flex justify-start items-center font-jetbrains">
                                    Telefono
                                </div>
                                <div class="w-[50%] flex justify-end items-center font-bold font-jetbrains">
                                  {{orderUser?.phone}}
                                </div>
                            </div>


                            <div class="flex w-full h-[16.66%] ">
                                <div class="w-[50%] flex justify-start items-center font-jetbrains">
                                    Dirección Exacta
                                </div>
                                <div class="w-[50%] flex justify-end font-bold font-jetbrains overflow-y-scroll">
                                   {{addressUser?.specific_address}}
                                </div>
                            </div>


                            <div class="flex w-full h-[16.66%]">
                                <div class="w-[50%] flex justify-start items-center font-jetbrains">
                                    fecha de emisión:
                                </div>
                                <div class="w-[50%] flex justify-end items-center font-bold font-jetbrains">
                                    {{day}}/{{month}}/{{year}}
                                </div>
                            </div>


                            <div class="flex w-full h-[16.66%]">
                                <div class="w-[50%] flex justify-start items-center font-jetbrains">
                                    Método de Pago:
                                </div>
                                <div class="w-[50%] flex justify-end items-center font-bold font-jetbrains">
                                    Tarjeta crédito
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="w-full h-[45%] flex items-end justify-center ">

                        <div class="col text-black w-full h-full flex items-end">
                            <div class="w-full h-full flex flex-col justify-end space-y-10">

                                <!-- Total Row -->
                                <div class="flex w-full">
                                    <div
                                        class="w-[30%] flex justify-start items-center font-bold text-2xl font-jetbrains">
                                        Total
                                    </div>
                                    <div
                                        class="w-[70%] flex justify-end items-center font-bold text-2xl font-jetbrains">
                                        ₡ {{orderInfo?.total_price}}
                                    </div>
                                </div>

                                <!-- Botón Confirmar -->
                                <div class="flex h-[50px] items-center justify-center w-full">
                                    <button (click)="navigate()" 
                                        class="font-bold text-lg bg-[#1E2B3D] text-white font-jetbrains rounded-xl w-[75%] h-full">
                                        Confirmar
                                    </button>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>

            </div>

        </div>
    </div>

</div>