<div class="w-full h-full bg-[#EDF2FB] pl-[10%] pr-[10%] pt-[2%] pb-[2%]">

    <div class="w-full h-[700px]  ">

        <div class="row w-full h-full flex ">
            <div class="col bg-[#f5f8fc] w-[50%] h-full p-10 flex flex-col rounded-l-2xl">
                <form class="w-full h-full" [formGroup]="updateUserForm">

                    <div class="row h-[30%] w-full flex items-center justify-center">
                        <div class="w-[150px] h-[150px] rounded-full bg-white flex items-center justify-center">
                            <img *ngIf="user?.photo; else noPhoto" [src]="user?.photo" alt="User Photo">
                            <ng-template #noPhoto>
                                <i class="fas fa-image" aria-hidden="true"></i>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row h-[23.33%] w-full flex flex-col justify-center items-center ">
                        <label for="input-name" class="mb-2 font-bold">Nombre:</label>
                        <input class="w-[50%] h-[40px] rounded-xl bg-[#b1b7bf] font-bold  pl-5" type="text"
                            id="input-name" name="input-name" [value]="user?.name" formControlName="name">
                        <div *ngIf="updateUserForm.controls['name'].invalid && updateUserForm.controls['name'].touched"
                            class="text-red-500">
                            <small *ngIf="updateUserForm.controls['name'].errors?.['required']">El nombre es
                                obligatorio.</small>
                            <small *ngIf="updateUserForm.controls['name'].errors?.['pattern']">
                                Se permiten solo caracteres alfabéticos</small>
                        </div>
                    </div>

                    <div class="row h-[23.33%] w-full flex flex-col justify-center items-center ">
                        <label for="input-last_name" class="mb-2 font-bold">Apellido</label>
                        <input class="w-[50%] h-[40px] rounded-xl bg-[#b1b7bf] font-bold pl-5" type="text" id="input-id"
                            name="input-last_name" [value]="user?.last_name" formControlName="last_name">
                        <div *ngIf="updateUserForm.controls['last_name'].invalid && updateUserForm.controls['last_name'].touched"
                            class="text-red-500">
                            <small *ngIf="updateUserForm.controls['last_name'].errors?.['required']">El apellido es
                                obligatorio.</small>
                            <small *ngIf="updateUserForm.controls['last_name'].errors?.['pattern']">
                                Se permiten solo caraterés alfabéticos</small>
                        </div>
                    </div>
                    <div class="row h-[23.33%] w-full flex flex-col justify-center items-center ">
                        <label for="input-phone" class="mb-2 font-bold">Teléfono:</label>
                        <input class="w-[50%] h-[40px] rounded-xl bg-[#b1b7bf] font-bold  pl-5" type="text"
                            id="input-phone" name="input-phone" [value]="user?.phone" formControlName="phone">
                        <div *ngIf="updateUserForm.controls['phone'].invalid && updateUserForm.controls['phone'].touched"
                            class="text-red-500">
                            <small *ngIf="updateUserForm.controls['phone'].errors?.['required']">El teléfono es
                                obligatorio.</small>
                            <small *ngIf="updateUserForm.controls['phone'].errors?.['pattern']">Ingrese un teléfono
                                válido
                                (8
                                dígitos).</small>
                        </div>
                    </div>
                </form>

                <div class="row h-[23.33%] w-full flex flex-row justify-center items-center">
                    <div class="row w-full items-center justify-center flex flex-row space-x-4">
                        <button (click)="saveChangesProfile()"
                            class="font-bold text-lg bg-[#1E2B3D] text-white font-jetbrains rounded-xl w-[50%] h-[40%] btn">
                            Guardar
                        </button>

                        <button (click)="deleteProfile()"
                            class="font-bold text-lg text-white font-jetbrains rounded-xl w-[50%] h-[40%] btn btn-error">
                            Eliminar cuenta
                        </button>
                    </div>

                </div>
                <app-alert-accept-detele *ngIf="showAlert" class="alert" (cancel)="onCancel($event)"
                    (confirm)="onConfirm($event)"></app-alert-accept-detele>


            </div>

            <div class="col bg-white w-[50%] h-full p-10 rounded-r-2xl">
                <div class="row h-[10%] w-full flex flex-col justify-center">
                    <p
                        class="font-bold text-2xl w-full h-[20%] flex items-center justify-center font-jetbrains text-black">
                        Tu información personal</p>
                </div>
                <form class="w-full h-[20%]" [formGroup]="updateUserForm">
                    <div class="row h-full w-full flex flex-col justify-center items-center ">
                        <label for="input-email" class="mb-2 font-bold">Correo Electrónico</label>
                        <input class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold pl-5" type="text"
                            id="input-email" name="input-name" [value]="user?.email" formControlName="email">
                        <div *ngIf="updateUserForm.controls['email'].invalid && updateUserForm.controls['email'].touched"
                            class="text-red-500">
                            <small *ngIf="updateUserForm.controls['email'].errors?.['required']">El correo electrónico
                                es
                                obligatorio.</small>
                            <small *ngIf="updateUserForm.controls['email'].errors?.['email']">
                                Ingrese un email válido</small>
                        </div>
                    </div>

                </form>

                <form class=" w-full h-[70%] "  [formGroup]="updatePassword">
                    <div class="row h-[25%] w-full flex flex-col justify-center items-center ">
                        <label for="input-actualPassw" class="mb-2 font-bold">Contraseña actual</label>
                        <input [type]="showPassword ? 'text' : 'password'" class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold  pl-5" type="password"
                            id="input-actualPassw" name="input-actualPassw" formControlName="actualPassword">
                        <div *ngIf="updatePassword.controls['actualPassword'].invalid && updatePassword.controls['actualPassword'].touched"
                            class="text-red-500">
                            <small *ngIf="updatePassword.controls['actualPassword'].errors?.['required']">La contraseña actual es obligatoria.</small>
                        </div>
                    </div>

                    <div class="row h-[25%] w-full flex flex-col justify-center items-center ">
                        <label for="input-newPassw" class="mb-2 font-bold">Nueva contraseña</label>
                        <input [type]="showPassword ? 'text' : 'password'" class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold pl-5" type="password"
                            id="input-newPassw" name="input-name" formControlName="newPassw">
                        <div *ngIf="updatePassword.controls['newPassw'].invalid && updatePassword.controls['newPassw'].touched"
                            class="text-red-500">
                            <small *ngIf="updatePassword.controls['newPassw'].errors?.['minlength']">Debe tener al menos
                                8
                                caracteres.</small>
                        </div>
                    </div>

                    <div class="row h-[25%] w-full flex flex-col justify-center items-center ">
                        <label for="input-confirmNewPassw" class="mb-2 font-bold">Confirmar nueva contraseña</label>
                        <input [type]="showPassword ? 'text' : 'password'"  class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold pl-5" type="password"
                            id="input-confirmNewPassw" name="input-name" formControlName="confirmNewPassw">
                        <div *ngIf="updatePassword.controls['confirmNewPassw'].invalid && updatePassword.controls['confirmNewPassw'].touched"
                            class="text-red-500">
                        </div>
                        <div *ngIf="updatePassword.errors?.['passwordsMismatch'] && updatePassword.get('confirmNewPassw')?.touched"
                            class="text-red-500">
                            <small>Las contraseñas no coinciden.</small>
                        </div>
                    </div>
                    <div class="row w-full h-[25%] flex justify-center items-center space-x-2">
                        <div class="flex w-[50%] space-x-4">
                            <input type="checkbox" (change)="togglePasswordVisibility($event)">
                            <label for="checkbox">Mostrar Contraseña</label>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>