<div class="w-full h-full bg-[#EDF2FB] pl-[10%] pr-[10%] pt-[2%] pb-[2%]">

    <div class="w-full h-[600px]  ">
        <div class="row w-full h-full flex ">
            <div class="col bg-[#f5f8fc] w-[50%] h-full p-10 flex flex-col rounded-l-2xl">

                <div class="row h-[30%] w-full flex items-center justify-center">
                    <div class="w-[150px] h-[150px] rounded-full bg-white flex items-center justify-center">
                        <i class="fas fa-image"></i>
                    </div>
                </div>

                <div class="row h-[23.33%] w-full flex flex-col justify-center items-center ">
                    <label for="input-id" class="mb-2 font-bold">Nombre:</label>
                    <input class="w-[50%] h-[40px] rounded-xl bg-[#b1b7bf] font-bold" type="text" id="input-id"
                        name="input-name">
                </div>

                <div class="row h-[23.33%] w-full flex flex-col justify-center items-center ">
                    <label for="input-id" class="mb-2 font-bold">Apellido</label>
                    <input class="w-[50%] h-[40px] rounded-xl bg-[#b1b7bf] font-bold" type="text" id="input-id"
                        name="input-name">
                </div>

                <div class="row h-[23.33%] w-full flex flex-col justify-center items-center">
                    <button
                        class="font-bold text-lg bg-[#1E2B3D] text-white font-jetbrains  rounded-xl w-[50%] h-[40%]">
                        Guardar
                    </button>
                </div>
            </div>

            <div class="col bg-white w-[50%] h-full p-10 rounded-r-2xl">
                <div class="row h-[20%] w-full flex flex-col justify-center">
                    <p
                        class="font-bold text-2xl w-full h-[20%] flex items-center justify-center font-jetbrains text-black">
                        Tu información personal</p>
                </div>

                <div class="row h-[20%] w-full flex flex-col justify-center items-center ">
                    <label for="input-id" class="mb-2 font-bold">Correo Electrónico</label>
                    <input class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold" type="text" id="input-id"
                        name="input-name">
                </div>

                <div class="row h-[20%] w-full flex flex-col justify-center items-center ">
                    <label for="input-id" class="mb-2 font-bold">Contraseña actual</label>
                    <input class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold" type="text" id="input-id"
                        name="input-name">
                </div>

                <div class="row h-[20%] w-full flex flex-col justify-center items-center ">
                    <label for="input-id" class="mb-2 font-bold">Nueva contraseña</label>
                    <input class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold" type="text" id="input-id"
                        name="input-name">
                </div>

                <div class="row h-[20%] w-full flex flex-col justify-center items-center ">
                    <label for="input-id" class="mb-2 font-bold">Confirmar nueva contraseña</label>
                    <input class="w-[50%] h-[40px]  rounded-xl bg-[#b1b7bf] font-bold" type="text" id="input-id"
                        name="input-name">
                </div>
            </div>
        </div>

    </div>

</div>