<header>
    <div class="bg-[#1E2B3D] w-full h-[75px] flex items-center justify-end space-x-4 pr-5">


        <button *ngIf="!logueado" [routerLink]="['/login']"
            class="bg-[#E9EFF9] text-[#1E2B3D] font-bold py-2 px-4 rounded-sm shadow-md transform -skew-x-12 flex space-x-2">
            <span>INICIAR SESIÓN</span>
            <span class="text-[#1E2B3D]">|</span>
            <span>CREAR UNA CUENTA</span>
        </button>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
                    <!-- Mostrar imagen si logueado es true -->
                    <img *ngIf="logueado" src="images/logo.png" class="w-8 h-8 object-cover" />

                    <!-- Mostrar ícono si logueado es false -->
                    <i *ngIf="!logueado" class="far fa-user text-lg"></i>
                </div>
            </div>

            <ul *ngIf="logueado" tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li [routerLink]="['/personal-information']"><a>Pefil</a></li>
                <li [routerLink]="['/order-history']"><a>Historial de pedidos</a></li>
                <li [routerLink]="['/payment-method']"><a>Método de pago</a></li>
                <li [routerLink]="['/direction']"><a>Dirección</a></li>
                <li><a>Salir de la cuenta</a></li>
            </ul>
        </div>
    </div>

    <div class="w-full h-[150px] flex items-center justify-center px-5 space-x-2">
        <a [routerLink]="['/slider-day-promotions']" class="mr-[15%]" ><img  src="images/logo.png" class=" w-[200px]"></a>
        <div class="flex">
            <input type="text" placeholder="Buscar productos"
                class=" text-[#1E2B3D] font-bold py-2 px-4 rounded-l-md w-[600px] border border-black ">

            <button class="bg-[#1E2B3D] rounded-r-md flex items-center justify-center m-0 p-3 w-[100px]">
                <i class="fas fa-search text-xl text-white"></i>
            </button>
        </div>
    </div>



    <div class="navbar bg-[#EDF2FB]">
        <div class="navbar-start">

        </div>

        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1 z-[100]">
                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2">
                            <li [routerLink]="['/products-per-category']"><a>Submenu 1</a></li>
                            <li [routerLink]="['/products-per-category']"><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>

                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>


                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>


                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>

                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>
                
            </ul>
        </div>



        <div class="navbar-end space-x-4 ">
            <div class="flex-none bg-white rounded-full text-black">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                        <div>
                            <i class="far fa-heart text-xl"></i>
                            <div class="badge bg-[#1E2B3D] text-white">+99</div>
                        </div>

                    </div>
                    <div tabindex="0"
                        class="card card-compact dropdown-content bg-[#EDF2FB] z-[1] mt-3 w-[500px] h-[450px] text-black border-2 border-[#a5a5a5]">

                        <div class="  h-full w-full">

                            <!-- Columna principal que ocupa 8 de las 12 columnas -->
                            <div
                                class="col-span-8 w-full h-[90%] flex justify-center items-center pt-[10px] pl-[10px] pb-[10px] ">
                                <div class="h-[100%] w-[100%] rounded-2xl max-h-[425px]  overflow-auto rtl">

                                    <div class="card card-side border  h-[200px] bg-[#f8fafd] ltr">
                                        <figure class="rounded-2xl">
                                            <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
                                                alt="Movie" />
                                        </figure>
                                        <div class="card-body  rounded-2xl ">

                                            <div class="flex row w-full h-full">
                                                <div class="col h-[100%]  w-[80%]">
                                                    <div class="flex row h-[50%] items-center font-bold font-jetbrains">
                                                        NOMBRE DEL PRODUCTO A UTILIZAR EN ESTE ESPACIO
                                                    </div>
                                                    <div class="flex row h-[50%] items-center font-jetbrains">
                                                        <p class="font-bold text-lg">₡ 250 000</p>
                                                    </div>
                                                </div>

                                                <div class="col w-[20%]">
                                                    <div class="row flex items-center justify-center h-full w-full">
                                                        <i class="fas fa-trash text-xl"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="row h-[10%] flex items-center justify-center">
                                <button [routerLink]="['/whishlist']" class="w-[50%] h-[90%] bg-[#1E2B3D] rounded-2xl font-jetbrains text-white">Ver whislist</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-none bg-[#1E2B3D] rounded-full text-white">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <div>
                                <i class="fas fa-shopping-cart text-xl text-white"></i>
                                <div class="badge bg-white text-black">+99</div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0"
                        class="card card-compact dropdown-content bg-[#EDF2FB] z-[1] mt-3 w-[800px] h-[450px] text-black border-2 border-[#a5a5a5]">

                        <div class="grid grid-cols-12 gap-4 h-full">

                            <!-- Columna principal que ocupa 8 de las 12 columnas -->
                            <div
                                class="col-span-8 w-full h-full flex justify-center items-center pt-[10px] pl-[10px] pb-[10px] ">
                                <div class="h-[100%] w-[100%] rounded-2xl max-h-[425px]  overflow-auto rtl">

                                    <div class="card card-side border  h-[200px] bg-[#f8fafd] ltr">
                                        <figure class="rounded-2xl">
                                            <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
                                                alt="Movie" />
                                        </figure>
                                        <div class="card-body  rounded-2xl ">

                                            <div class="flex row w-full h-full">
                                                <div class="col h-[100%]  w-[80%]">
                                                    <div class="flex row h-[33%] items-center font-bold font-jetbrains">
                                                        NOMBRE DEL PRODUCTO A UTILIZAR EN ESTE ESPACIO
                                                    </div>
                                                    <div class="flex row h-[33%] items-center justify-center">
                                                        <div
                                                            class="w-[20%] h-[80%] bg-[#edf2fb] flex items-center justify-center rounded-2xl font-jetbrains">
                                                            2X
                                                        </div>
                                                    </div>
                                                    <div class="flex row h-[33%] items-center font-jetbrains">
                                                        <p class="font-bold text-lg">₡ 250 000</p>
                                                    </div>
                                                </div>

                                                <div class="col w-[20%]">
                                                    <div class="row flex items-center justify-center h-full w-full">
                                                        <i class="fas fa-trash text-xl"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!-- Columna secundaria que ocupa 4 de las 12 columnas -->
                            <div
                                class="col-span-4 w-full h-full flex justify-center items-center pt-[10px] pr-[10px] pb-[10px]">
                                <div class="bg-[#f8fafd] h-[100%] w-[100%] rounded-2xl">
                                    <div class="flex row h-[60%] items-center font-bold font-jetbrains justify-center">
                                        <div class="col font-bold font-jetbrains h-[100%]  pt-4">
                                            Total de compra
                                        </div>
                                    </div>

                                    <div class=" h-[30%] w-full">
                                        <!-- Fila 1 -->
                                        <div class="flex col w-full h-[33.33%]">
                                            <div
                                                class="flex row w-[30%] items-center justify-start pl-2 font-jetbrains text-xs">
                                                Transporte</div>
                                            <div
                                                class="flex row w-[70%] items-center justify-end pr-2 font-extrabold font-jetbrains text-xs">
                                                ₡ 1 250 000</div>

                                        </div>
                                        <!-- Fila 2 -->
                                        <div class="flex col w-full h-[33.33%]">
                                            <div
                                                class="flex row w-[30%] items-center justify-start pl-2 font-jetbrains text-xs">
                                                Subtotal</div>
                                            <div
                                                class="flex row w-[70%] items-center justify-end pr-2 font-extrabold font-jetbrains text-xs">
                                                ₡ 10 250 000</div>

                                        </div>
                                        <!-- Fila 3 -->
                                        <div class="flex col w-full h-[33.33%]">
                                            <div
                                                class="flex row w-[30%] items-center justify-start pl-2 font-jetbrains">
                                                Total</div>
                                            <div
                                                class="flex row w-[70%] items-center justify-end pr-2 font-extrabold font-jetbrains">
                                                ₡ 10 250 000</div>

                                        </div>
                                    </div>

                                    <div class="row h-[10%] flex items-center justify-center">
                                        <button [routerLink]="['/shopping-cart']"
                                            class="w-[75%] h-[75%] bg-[#1E2B3D] rounded-2xl font-jetbrains text-white">Confirmar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
