<div class="overflow-x-auto">
  <table class="table table-xs" style="font-size: 20px;">
    <thead class="text-[20px]">
      <tr>
        <th>ID</th>
        <th>ID de Usuario</th>
        <th>Estado</th>
        <th>Precio Total</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody class="text-[20px]">
      <tr *ngFor="let order of orders; let i = index">
        <td>{{ order.id }}</td>
        <td>{{ order.id_user }}</td>
        <td>
          <select class="dropdown" style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; font-size: 20px;"
            [value]="order.status" (change)="onStatusChange($event, order.id)">
            <option value="pending">Pendiente</option>
            <option value="in_process">En preparación</option>
            <option value="sent">Enviado</option>
            <option value="delivered">Entregado</option>
          </select>
        </td>
        <td>{{ order.total_price }}</td>
        <td>{{ order.date }}</td>
      </tr>
    </tbody>
  </table>
</div>