<div style="display: flex; height: 100vh;">
  <!-- Sidebar fijo -->
  <div class="sidebar bg-base-300 text-base-content" style="width: 250px; min-height: 100%; border-radius: 40px; padding: 20px;">
    <img src="images/logo.png" class="w-full h-auto object-cover" />
    <hr style="margin: 40px 0;">
    <ul class="menu">
      <li>
        <a href="#" class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/profile.png" alt="profile" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Perfil</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a  (click)="navigateToProducts()"  class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/list.png" alt="productList" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Gestión de productos</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a (click)="navigateToUsers()" class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/users_settings.png" alt="users_settings" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Gestión de usuarios</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a (click)="navigateToOrders()" class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/pedidos.png" alt="pedidos" class="w-[43px] mr-2">
          <span class="text-xl font-bold">Pedidos</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a  (click)="navigateToInventory()" class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/box.png" alt="inventario" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Inventario</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a (click)="navigateToStatictics()" class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/estadistica.png" alt="estadistica" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Estadísticas</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/offer.png" alt="exit" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Gestión de ofertas</span>
        </a>
      </li>
      <hr style="margin: 20px 0;">
      <li>
        <a class="flex items-center" style="text-decoration: none; color: inherit;">
          <img src="images/exit.png" alt="exit" class="w-[40px] mr-2">
          <span class="text-xl font-bold">Salir</span>
        </a>
      </li>
    </ul>
  </div>

</div>
