<div class="overflow-x-auto">
  <table class="table table-xs" style="font-size: 50px;"> 
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Stock</th>
        <th>Especificaciones Técnicas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.brand }}</td>
        <td>
          <input type="number" [(ngModel)]="product.stock" min="1" max="200" step="1" style="width: 150px; height: 40px; font-size: 20px; padding: 10px; border-radius: 5px; border: 2px solid #ccc;">
        </td>
        <td>{{ product.technical_stuff }}</td>
      </tr>
      <!-- Puedes continuar añadiendo filas si es necesario -->
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Stock</th>
        <th>Especificaciones Técnicas</th>
      </tr>
    </tfoot>
  </table>
</div>

