<div class="form-container" style="display: flex; flex-wrap: wrap; gap: 20px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div class="column" style="flex: 1; min-width: 300px;">
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Nombre
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Descripcion
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Precio
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Marca
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
    </div>
    <div class="column" style="flex: 1; min-width: 300px;">
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Especificaciones Tecnicas
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Stock
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
      <label class="input input-bordered flex items-center gap-2 mb-4">
       Foto
        <input type="text" class="grow" style="padding: 15px; border-radius: 4px;  width: 100%;" />
      </label>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
      <button class="btn btn-secondary" style="padding: 10px 20px; border-radius: 4px; background-color: #63d2e5; color: #fff; border: none; cursor: pointer;">Agregar</button>
    <button class="btn btn-primary" style="padding: 10px 20px; border-radius: 4px; background-color: #007bff; color: #fff; border: none; cursor: pointer;">Editar</button>
    <button class="btn btn-secondary" style="padding: 10px 20px; border-radius: 4px; background-color: #6c757d; color: #fff; border: none; cursor: pointer;">Eliminar</button>
  </div>
