<form class="grid" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <app-alerts *ngIf="showAlert" class="alert alert-success"></app-alerts>
  <app-no-alerts *ngIf="showNoAlert" class="alert alert-error"></app-no-alerts>
  <div class="form-container"
    style="display: flex; flex-wrap: wrap; gap: 20px; padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div class="column" style="flex: 1; min-width: 300px;">
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Nombre
        <input type="text" class="grow" formControlName="name"
          style="padding: 15px; border-radius: 4px; width: 100%;" />
      </label>
      <div *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched" class="text-red-500">
        <small *ngIf="productForm.controls['name'].errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="productForm.controls['name'].errors?.['maxlength']">Máximo 100 caracteres.</small>
      </div>

      <label class="input input-bordered flex items-center gap-2 mb-4">
        Descripción
        <input type="text" class="grow" formControlName="description"
          style="padding: 15px; border-radius: 4px; width: 100%;" />
      </label>
      <div *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].touched"
        class="text-red-500">
        <small *ngIf="productForm.controls['description'].errors?.['required']">La descripción es obligatoria.</small>
        <small *ngIf="productForm.controls['description'].errors?.['maxlength']">Máximo 500 caracteres.</small>
      </div>

      <label class="input input-bordered flex items-center gap-2 mb-4">
        Precio
        <input type="number" class="grow" formControlName="price"
          style="padding: 15px; border-radius: 4px; width: 100%;" />
      </label>
      <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched" class="text-red-500">
        <small *ngIf="productForm.controls['price'].errors?.['required']">El precio es obligatorio.</small>
        <small *ngIf="productForm.controls['price'].errors?.['min']">El precio debe ser un valor positivo.</small>
      </div>

      <label class="input input-bordered flex items-center gap-2 mb-4">
        Marca
        <input type="text" class="grow" formControlName="brand"
          style="padding: 15px; border-radius: 4px; width: 100%;" />
      </label>
      <div *ngIf="productForm.controls['brand'].invalid && productForm.controls['brand'].touched" class="text-red-500">
        <small *ngIf="productForm.controls['brand'].errors?.['required']">La marca es obligatoria.</small>
        <small *ngIf="productForm.controls['brand'].errors?.['maxlength']">Máximo 50 caracteres.</small>
      </div>
    </div>

    <div class="column" style="flex: 1; min-width: 300px;">
      <label class="input input-bordered flex items-center gap-2 mb-4">
        Especificaciones Técnicas
        <input type="text" class="grow" formControlName="technical_stuff"
          style="padding: 15px; border-radius: 4px; width: 100%;" />
      </label>
      <div *ngIf="productForm.controls['technical_stuff'].invalid && productForm.controls['technical_stuff'].touched"
        class="text-red-500">
        <small *ngIf="productForm.controls['technical_stuff'].errors?.['required']">Las especificaciones técnicas son
          obligatorias.</small>
        <small *ngIf="productForm.controls['technical_stuff'].errors?.['maxlength']">Máximo 1000 caracteres.</small>
      </div>

      <label class="input input-bordered flex items-center gap-2 mb-4">
        Stock
        <input type="number" class="grow" formControlName="stock" id="quantity" name="quantity" min="0" max="200"
          step="1" value="1" style="width: 150px; height: 40px; font-size: 20px; padding: 15px; border-radius: 4px;" />
      </label>
      <div *ngIf="productForm.controls['stock'].invalid && productForm.controls['stock'].touched" class="text-red-500">
        <small *ngIf="productForm.controls['stock'].errors?.['required']">El stock es obligatorio.</small>
        <small *ngIf="productForm.controls['stock'].errors?.['min']">El stock debe ser un valor positivo.</small>
      </div>

      <label class="input input-bordered flex items-center gap-2 mb-4">
        Foto
        <input type="text" class="grow" formControlName="photo"
          style="padding: 15px; border-radius: 4px; width: 100%;" />
      </label>
      <div *ngIf="productForm.controls['photo'].invalid && productForm.controls['photo'].touched" class="text-red-500">
        <small *ngIf="productForm.controls['photo'].errors?.['required']">La foto es obligatoria.</small>
        <small *ngIf="productForm.controls['photo'].errors?.['maxlength']">Máximo 255 caracteres.</small>
      </div>
    </div>

  </div>
</form>

<div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
  <button class="btn btn-secondary" (click)="onSubmit()"
    style="padding: 10px 20px; border-radius: 4px; background-color: #63d2e5; color: #fff; border: none; cursor: pointer;">Guardar</button>
</div>

<div *ngIf="showAlert" role="alert" class="alert alert-info">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="h-6 w-6 shrink-0 stroke-current">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>No se puede eliminar un producto que se encuentre en pedido!</span>
</div>

<div class="overflow-x-auto" style="padding: 50px">
  <table class="table table-xs" style="font-size: 50px;">
    <thead>
      <tr style="font-size: 20px;">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Stock</th>
        <th>Especificaciones Técnicas</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index" style="font-size: 16px">

        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.brand }}</td>
        <td>{{product.stock}}</td>
        <td>{{product.technical_stuff}}</td>
        <td>
          <button class="btn btn-primary" (click)="onEdit(product)"
            style="padding: 10px 20px; border-radius: 4px; background-color: #007bff; color: #fff; border: none; cursor: pointer;">Editar</button>

        </td>
        <th>
          <button class="btn btn-secondary"
          (click)="onDelete(product.id.toString())"
            style="padding: 10px 20px; border-radius: 4px; background-color: #6c757d; color: #fff; border: none; cursor: pointer;">Eliminar</button>
        </th>
      </tr>
    </tbody>

  </table>
</div>


