<div class="flex flex-row w-full bg-[#4C5664] text-white  justify-center p-[75px] space-x-[20%]">

    <div class="flex-col">
        <div class="flex-row">
            <img src="../../../assets/logo.png">
        </div>
        <div class="flex-row">
            Siguenos
        </div>
        <div class="flex-row">
            <img src="../../../assets/logo.png">
        </div>
    </div>

    <div class="flex-col">
        <div class="flex-row">
            Siguenos
        </div>
        <div class="flex-row">
            Quienes somos?
        </div>
        <div class="flex-row">
            Preguntas frecuentes
        </div>

        <div class="flex-row">
            Tiendas
        </div>
        <div class="flex-row">
            Métodos de pago
        </div>
    </div>

    <div class="flex-col">
        <div class="flex-row">
            Cuenta
        </div>

        <div class="flex-row">
            Iniciar Sesión
        </div>
        <div class="flex-row">
            Registarse
        </div>
    </div>

</div>