<footer>

    <div class="flex flex-row w-full bg-[#4C5664] text-white  justify-center p-[75px] space-x-[20%]">

        <footer class="footer bg-neutral text-neutral-content p-10">
            <nav class="justify-center items-center">
                <div class="flex-row w-[200px]">
                    <img src="images/logo.png">
                </div>
                <h6 class="footer-title">Siguenos</h6>
                <div class="flex flex-row space-x-3">
                    <div class="flex-col">
                        <img src="images/instagram.png" alt="Instagram" class="w-[40px]">
                    </div>
                    <div class="flex-col">
                        <img src="images/whatsapp.png" alt="Whatsapp" class="w-[40px]">
                    </div>
                    <div class="flex-col">
                        <img src="images/facebook.png" alt="Facebook" class="w-[40px]">
                    </div>
                </div>

            </nav>
            <nav>
                <h6 class="footer-title">Nuestra Empresa</h6>
                <a class="link link-hover">Quienes somos?</a>
                <a class="link link-hover">Preguntas Frecuentes</a>
                <a class="link link-hover">Tiendas</a>
                <a class="link link-hover">Métodos de pago</a>
            </nav>
            <nav>
                <h6 class="footer-title">Cuenta</h6>
                <a class="link link-hover">Iniciar Sesión</a>
                <a class="link link-hover">Registrarse</a>
            </nav>
        </footer>

    </div>

    <div class="bg-[#1E2B3D] w-full h-[50px] flex justify-center items-center text-white">
        <div class="flex flex-col w-[50%] items-center justify-between">
            <p>© ExtremeTEC 2024. Todos los derechos reservados</p>
        </div>

        <div class=" flex flex-col w-[50%]">
            <div class=" flex flex-row items-center justify-center space-x-20">
                <div class="flex-col">
                    <p>Política de privacidad</p>
                </div>
                <div class="flex-col">
                    <p>Términos y Condiciones</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#EDF2FB] w-full h-[75px] flex justify-center items-center text-black space-x-10">
        <div class="flex-col ">
            <img src="images/paypal.png" alt="PayPal" class="w-[80px]">
        </div>
        <div class="flex-col ">
            <img src="images/visa.png" alt="Visa" class="w-[40px]">
        </div>
        <div class="flex-col ">
            <img src="images/mastercard.png" alt="Mastercard" class="w-[60px]">
        </div>

    </div>
</footer>