<div class="w-full h-full bg-[#EDF2FB] pl-[10%] pr-[10%] pt-[2%] pb-[2%]">

    <div class="w-full h-[500px] bg-white rounded-xl flex flex-col ">

        <div class="row w-full h-[10%] flex items-center justify-center">
            <p class="font-bold text-2xl font-jetbrains text-black">Direcciones</p>
        </div>


        <div class="row w-full h-full  flex justify-center space-x-2 p-5">


            <div class="row w-[50%] h-full flex bg-[#b7bbc1] rounded-2xl">
                <div class="col w-[90%] h-full p-10">
                    <div
                        class="  row w-full h-[16.66%] font-extrabold text-2xl font-jetbrains text-white items-center justify-center flex ">
                        nombre
                    </div>
                    <div
                        class="row w-full h-[16.66%] font-extrabold text- font-jetbrains text-white items-center  flex ">
                        Provincia, Canton, Distrito
                    </div>
                    <div
                        class="row w-full h-[16.66%] font-extrabold text- font-jetbrains text-white items-center  flex ">
                        Pais
                    </div>
                    <div
                        class="row w-full h-[16.66%] font-extrabold text- font-jetbrains text-white items-center  flex ">
                        Dirección exacta :
                    </div>
                    <div
                        class="row w-full h-[16.66%] font-extrabold text- font-jetbrains text-white items-center  flex ">
                        Número de telefono:
                    </div>
                    <div
                        class="row w-full h-[16.66%] font-extrabold text- font-jetbrains text-white items-center justify-center flex ">
                        <button
                            class="font-bold text-lg bg-[#1E2B3D] text-white font-jetbrains  rounded-xl w-[50%] h-[60%]">
                            Guardar
                        </button>
                    </div>

                </div>
                <div class="col w-[10%] h-full flex justify-center items-center">
                    <i class="fas fa-trash text-xl"></i>
                </div>
            </div>

            <div
                class=" rounded-2xl row w-[50%] h-full flex  bg-[#b7bbc1] items-center justify-center text-white font-bold text-2xl space-x-2 ">
                <p>Editar Dirección</p>
                <i class="fas fa-edit"></i>
            </div>
        </div>
    </div>

</div>