<div class="w-full h-[800px] bg-white rounded-xl flex flex-col">
    <!-- Primera fila -->
    <div class="row w-full h-[10%] flex items-center justify-center">
        <p class="font-bold text-2xl font-jetbrains text-black">Historial de pedidos</p>
    </div>

    <!-- Segunda fila -->
    <div class="row w-full h-[90%]  flex justify-center">

        <div class="  space-y-2 w-[95%] h-[95%] overflow-y-auto">
            <div class="w-full h-[100px]  rounded-xl bg-[#b7bbc1]">
                <div class="row w-full h-full flex">
                    <div class="col w-[25%] h-full">
                        <div class="row w-full h-[30%] font-extrabold text- font-jetbrains text-black items-center justify-center flex ">
                            PEDIDO REALIZADO
                        </div>
                        <div class="row h-[70%] font-bold text- font-jetbrains text-white items-center justify-center flex">
                            2
                        </div>
                    </div>
                    <div class="col w-[25%] h-full ">
                        <div class="row w-full h-[30%] font-extrabold text- font-jetbrains text-black items-center justify-center flex ">
                            Total de compra
                        </div>
                        <div class="row h-[70%] font-bold text- font-jetbrains text-white items-center justify-center flex">
                            2
                        </div>
                    </div>
                    <div class="col w-[25%] h-full ">
                        <div class="row w-full h-[30%] font-extrabold text- font-jetbrains text-black items-center justify-center flex ">
                            Estado del pedido
                        </div>
                        <div class="row h-[70%] font-bold text- font-jetbrains text-white items-center justify-center flex">
                            2
                        </div>
                    </div>
                    <div class="col w-[25%] h-full ">
                        <div class="row w-full h-[30%] font-extrabold text- font-jetbrains text-black items-center justify-center flex ">
                            PEDIDO No. 00300001045
                        </div>
                        <div class="row h-[70%] underline font-bold  font-jetbrains text-white items-center justify-center flex">
                           <a href="#">Ver detalles del pedido</a> 
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>